<%= form_for(@map) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>

  <%= f.label :lon1 %>
  <%= f.text_field :lon1, class: 'form-control' %>

  <%= f.label :lat1 %>
  <%= f.text_field :lat1, class: 'form-control' %>

  <%= f.label :lon2 %>
  <%= f.text_field :lon2, class: 'form-control' %>

  <%= f.label :lat2 %>
  <%= f.text_field :lat2, class: 'form-control' %>

  <%= f.submit yield(:button_text), class: "btn btn-primary" %>

<% end %>