<div id="map_id" data="<%= @marker.map_id %>"/>

<%= form_for(@marker, :url => url_for(:controller => 'maps', :action => 'marker', :map_id => @marker.map_id), :html => {:id => 'marker_form'}) do |f| %>
  <div class="row">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.label :residents %>
    <%= f.text_field :residents, class: 'form-control' %>
  </div>

  <div class="row">
    <%= f.submit 'Save marker', id: 'save_button', class: "btn btn-primary" %>
  </div>

<% end %>