<table>
  <tr>
    <th>Action</th>
    <th>Thumb</th>
    <th>Title/Coordinates</th>
  </tr>

  <% @maps.each_with_index do |map, index| %>
    <tr>
      <td>
        <button><a href="<%= edit_map_path(map) %>">Edit</a></button>
        <button>
          <%= link_to "Delete", map_path(map), method: :delete, data: { confirm: 'Are you sure?' } %>
        </button>
      </td>
      <td id="map<%= index %>" data-map="<%= map.to_json %>" class="map-thumb"></td>
      <td>
        <% if map.title %>
          <%= map.title %>
        <% else %>
          (<%= map.lon1 %>,<%= map.lat1 %>) - (<%= map.lon2 %>,<%= map.lat2 %>)
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<div>
  <button><%= link_to "Add", new_map_path %></button>
</div>

<script>
  var maps = [];

  $(document).ready(function() {
    $('.map-thumb').each(function(index) {
      var data = $(this).data('map');
      maps[index] = L.mapbox.map('map' + index, 'mapbox.streets')
          .setView([data.lon1, data.lat1], 4);

      maps[index].fitBounds([[data.lon1, data.lat1], [data.lon2, data.lat2]]);
    });

    $('.map-thumb').click(function() {
      var data = $(this).data('map');
      window.location = '/maps/' + data.id;
    })
  });
</script>
