<div class="map-wrapper">
  <div class="button-wrapper">
    <button><a href="/maps">Back</a></button>
  </div>
  <div id='map' class="map-large" data-map="<%= @map.to_json(:include => :markers) %>"/>
</div>
<div id="marker-message" style="display:none;"></div>
<div id="marker-wrapper" style="display:none;">
  <%= render 'marker_form' %>
</div>

<script>

  var data = $('#map').data('map');

  var map = L.mapbox.map('map', 'mapbox.streets')
      .setView([data.lon1, data.lat1], 9);

  map.fitBounds([[data.lon1, data.lat1], [data.lon2, data.lat2]]);

  var markers = data.markers;

  $(markers).each(function (index) {
    var point = L.latLng(this.lat, this.lon);
    var marker = new L.marker(point, {title: markerText(this)}).addTo(map);
  });

  map.on('click', function (e) {
    var marker = new L.marker(e.latlng).addTo(map);

    $('#marker_form')[0].reset();
    $('#marker-message').show();
    $('#marker-message').html("Please enter data for marker:<br>");
    $('#marker-wrapper').show();

    // ToDo: expose modal here, don't create marker until success

    // ToDo: handle popUp for new marker, deletion of unsaved marker

    $('#save_button').one("click", function () {
      console.log("Save Button clicked");

      var map_id = $('#map_id').data();
      var form = $('#marker_form');
      var data = form.serialize();

      data = data + "&marker%5Blat%5D=" + e.latlng.lat + "&marker%5Blon%5D=" + e.latlng.lng;

      $.ajax({
        method: "POST",
        url: form.attr('action'),
        data: data,
        dataType: 'json'
      }).done(function (msg) {
        $('#marker-wrapper').hide();
        $('#marker-message').html("Marker saved, please reload to see updated hover.");
        setTimeout(function() {
          $('#marker-message').hide();
        }, 1000);
      });
      return false;

    });

    $('#save_button').click(function () {
      return false;
    });
  });

  function markerText(obj) {
    var text = "";
    if (obj.name) {
      text = obj.name;
    }
    if (obj.description) {
      if (text.length) {
        text += ", ";
      }
      text += obj.description;
    }
    if (obj.residents) {
      if (text.length) {
        text += ", ";
      }
      text += "residents: " + obj.residents;
    }
    return text;
  }

</script>