/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    margin:0;
    padding:0;
}

.map-thumb {
    height: 100px;
    width: 200px;
}

.map-wrapper {
    height: 600px;
    width: 600px;
}

.map-large {
    /*position:absolute;*/
    /*top:0;*/
    /*bottom:0;*/
    height: 100%;
    width:100%;
}
